/* TO-DO STYLE */

/* 1- Grid Container */
/* 2- Row */
/* 3- Columns */
/* 4- Buttons */
/* 5- Table */

// declare global variables
$font-stack: Helvetica, sans-serif;
$background-color: #000000;
$primary-color: #000000;
$gray-color: #ddd;
$max-width: 1200px;
// for responsive
$medium-up: 600px;
$large-up: 1000px;

@mixin heading-font-regular {
	font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;;
}

@mixin set-border-radius ($radius) {
  border-radius: $radius;
  webkit-border-radius: $radius;
  moz-border-radius: $radius;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

// /* grid */
// .grid-container {
// 	width: 100%;
// 	max-width: $max-width;
// }
// .grid-container * {
// 	box-sizing: border-box;
// }
// /* row */
// .row:before,
// .row:after {
// 	content: "";
// 	display: table;
// 	clear: both;
// }

// Using for in SASS
/* 3- Columns
----------------------*/
$no_columns: 6;
@for $i from 1 through $no_columns {
  .col-#{$i} {
    width: ((100 / $no_columns) * $i) * 1%;
  }
}

//Using each in SASS 
/* 4- Buttons
----------------------*/
.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  background-color: #E6E6E6;
  text-decoration: none;
  @include set-border-radius(2px);
}


$radius: 4px;
$button-list: success rgb(28, 184, 65), error rgb(202, 60, 60), warning rgb(223, 117, 20),secondary rgb(66, 184, 221);
@each $button in $button-list {
  .btn-#{nth($button,1)} { 
  	color: #ffffff;
    background-color: nth($button,2);
    @include set-border-radius($radius);
  }    
}

//Using each in SASS 
/* 5- Table
----------------------*/
table {
	width: 100%;
	float: left;
    margin: 0 0 2em;
	thead {
		border-bottom:4px solid $primary-color;
		th {
			padding: 0.35em 0 .35em;
	        font-weight: 400;
			text-align: left;
			@include heading-font-regular;
			font-size: 1.25em;
		}
		
	}

	tbody {
		border-bottom: 3px solid $primary-color;
		tr {
			border-bottom: 2px solid #ddd;
       
			td {
				padding: .75em 0;

				a {
					color: $primary-color;
					text-decoration: none;
					display: inline-block;
					margin: 0 .5em 0 0;
					&:hover, &:active, &:focus {
						color: darken($primary-color, 10%);
						border: none;
					}
				}
			}
		}
	}

	tfoot {
		td {
			padding: 0.35em 0 .35em;
			text-align: left;
			@include heading-font-regular;
			font-size: 1.25em;
		}
	}
}

@media screen and (min-width: $large-up) {
  table {
		width: 100%;

		thead {
			border-bottom: 3px solid $primary-color;
			th {

			}
			
		}

		tbody {
			tr {
				border-bottom: 1px solid #ddd;
				td {
					
				}
			}
		}
	}
}

//Using while in SASS 
/* 6- Alerts
----------------------*/
//----- Base Alert Extend
%alert {
  width: 100%;
  display:inline-block;
  border-radius:4px;

  p, &:before {
    float:left;
  }

  &:before {
    width:25px;
    height:25px;
    margin-right:10px;
    display:inline-block;
    content:'';
    border-radius:1000px;
    background:url('../img/icon-sprite.png') no-repeat;
  }

  p {
    color:#fff;
  }
}

%alert-small {
  padding:10px;

  p {
    font-size:12px;
  }

  &:before {
    width:18px;
    height:18px;
  }
}

%alert-large {
  padding:30px;

  p {
    font-size:24px;
  }

  &:before {
    width:40px;
    height:40px;
  }
}


//----- Success
.alert-success {
  background:#75aa61;
  @extend %alert;

  &:before {
    background-color:#98bf89;
    background-position:-47px 7px;
  }
}

.alert-success-small {
  @extend %alert-small;
  @extend .alert-success;

  &:before {
    background-position:4px 5px;
  }
}

.alert-success-large {
  @extend %alert-large;
  @extend .alert-success;

  &:before {
    background-position:-89px 13px;
  }
}

//----- Info
.alert-info {
  background:#6181aa;
  @extend %alert;

  &:before {
    background-color:#89a1bf;
    background-position:-47px -82px;
  }
}

.alert-info-small {
  @extend %alert-small;
  @extend .alert-info;

  &:before {
    background-position:4px -57px;
  }
}

.alert-info-large {
  @extend %alert-large;
  @extend .alert-info;

  &:before {
    background-position:-89px -108px;
  }
}


//----- Warning
.alert-warning {
  background:#cecf60;
  @extend %alert;

  &:before {
    background-color:#dadb88;
    background-position:-47px -171px;
  }
}

.alert-warning-small {
  @extend %alert-small;
  @extend .alert-warning;

  &:before {
    background-position:4px -116px;
  }
}

.alert-warning-large {
  @extend %alert-large;
  @extend .alert-warning;

  &:before {
    background-position:-89px -232px;
  }
}


//----- Error
.alert-error {
  background:#ae6872;
  @extend %alert;

  &:before {
    background-color:#c28e95;
    background-position:-47px -261px;
  }
}

.alert-error-small {
  @extend %alert-small;
  @extend .alert-error;

  &:before {
    background-position:4px -177px;
  }
}

.alert-error-large {
  @extend %alert-large;
  @extend .alert-error;

  &:before {
    background-position:-89px -354px;
  }
}