/* TO-DO STYLE */
/* 1- Grid Container */
/* 2- Row */
/* 3- Columns */
/* 4- Buttons */
/* 5- Table */
body {
  font: 100% Helvetica, sans-serif;
  color: #000000;
}

/* 3- Columns
----------------------*/
.col-1 {
  width: 16.66667%;
}

.col-2 {
  width: 33.33333%;
}

.col-3 {
  width: 50%;
}

.col-4 {
  width: 66.66667%;
}

.col-5 {
  width: 83.33333%;
}

.col-6 {
  width: 100%;
}

/* 4- Buttons
----------------------*/
.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  border: 0 transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  webkit-border-radius: 2px;
  moz-border-radius: 2px;
}

.btn-success {
  color: #ffffff;
  background-color: #1cb841;
  border-radius: 4px;
  webkit-border-radius: 4px;
  moz-border-radius: 4px;
}

.btn-error {
  color: #ffffff;
  background-color: #ca3c3c;
  border-radius: 4px;
  webkit-border-radius: 4px;
  moz-border-radius: 4px;
}

.btn-warning {
  color: #ffffff;
  background-color: #df7514;
  border-radius: 4px;
  webkit-border-radius: 4px;
  moz-border-radius: 4px;
}

.btn-secondary {
  color: #ffffff;
  background-color: #42b8dd;
  border-radius: 4px;
  webkit-border-radius: 4px;
  moz-border-radius: 4px;
}

/* 5- Table
----------------------*/
table {
  width: 100%;
  float: left;
  margin: 0 0 2em;
}

table thead {
  border-bottom: 4px solid #000000;
}

table thead th {
  padding: 0.35em 0 .35em;
  font-weight: 400;
  text-align: left;
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 1.25em;
}

table tbody {
  border-bottom: 3px solid #000000;
}

table tbody tr {
  border-bottom: 2px solid #ddd;
}

table tbody tr td {
  padding: .75em 0;
}

table tbody tr td a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  margin: 0 .5em 0 0;
}

table tbody tr td a:hover, table tbody tr td a:active, table tbody tr td a:focus {
  color: black;
  border: none;
}

table tfoot td {
  padding: 0.35em 0 .35em;
  text-align: left;
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 1.25em;
}

@media screen and (min-width: 1000px) {
  table {
    width: 100%;
  }
  table thead {
    border-bottom: 3px solid #000000;
  }
  table tbody tr {
    border-bottom: 1px solid #ddd;
  }
}

/* 6- Alerts
----------------------*/
.alert-success, .alert-success-small, .alert-success-large, .alert-info, .alert-info-small, .alert-info-large, .alert-warning, .alert-warning-small, .alert-warning-large, .alert-error, .alert-error-small, .alert-error-large {
  width: 100%;
  display: inline-block;
  border-radius: 4px;
}

.alert-success p, .alert-success-small p, .alert-success-large p, .alert-info p, .alert-info-small p, .alert-info-large p, .alert-warning p, .alert-warning-small p, .alert-warning-large p, .alert-error p, .alert-error-small p, .alert-error-large p, .alert-success:before, .alert-success-small:before, .alert-success-large:before, .alert-info:before, .alert-info-small:before, .alert-info-large:before, .alert-warning:before, .alert-warning-small:before, .alert-warning-large:before, .alert-error:before, .alert-error-small:before, .alert-error-large:before {
  float: left;
}

.alert-success:before, .alert-success-small:before, .alert-success-large:before, .alert-info:before, .alert-info-small:before, .alert-info-large:before, .alert-warning:before, .alert-warning-small:before, .alert-warning-large:before, .alert-error:before, .alert-error-small:before, .alert-error-large:before {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: inline-block;
  content: '';
  border-radius: 1000px;
  background: url("../img/icon-sprite.png") no-repeat;
}

.alert-success p, .alert-success-small p, .alert-success-large p, .alert-info p, .alert-info-small p, .alert-info-large p, .alert-warning p, .alert-warning-small p, .alert-warning-large p, .alert-error p, .alert-error-small p, .alert-error-large p {
  color: #fff;
}

.alert-success-small, .alert-info-small, .alert-warning-small, .alert-error-small {
  padding: 10px;
}

.alert-success-small p, .alert-info-small p, .alert-warning-small p, .alert-error-small p {
  font-size: 12px;
}

.alert-success-small:before, .alert-info-small:before, .alert-warning-small:before, .alert-error-small:before {
  width: 18px;
  height: 18px;
}

.alert-success-large, .alert-info-large, .alert-warning-large, .alert-error-large {
  padding: 30px;
}

.alert-success-large p, .alert-info-large p, .alert-warning-large p, .alert-error-large p {
  font-size: 24px;
}

.alert-success-large:before, .alert-info-large:before, .alert-warning-large:before, .alert-error-large:before {
  width: 40px;
  height: 40px;
}

.alert-success, .alert-success-small, .alert-success-large {
  background: #75aa61;
}

.alert-success:before, .alert-success-small:before, .alert-success-large:before {
  background-color: #98bf89;
  background-position: -47px 7px;
}

.alert-success-small:before {
  background-position: 4px 5px;
}

.alert-success-large:before {
  background-position: -89px 13px;
}

.alert-info, .alert-info-small, .alert-info-large {
  background: #6181aa;
}

.alert-info:before, .alert-info-small:before, .alert-info-large:before {
  background-color: #89a1bf;
  background-position: -47px -82px;
}

.alert-info-small:before {
  background-position: 4px -57px;
}

.alert-info-large:before {
  background-position: -89px -108px;
}

.alert-warning, .alert-warning-small, .alert-warning-large {
  background: #cecf60;
}

.alert-warning:before, .alert-warning-small:before, .alert-warning-large:before {
  background-color: #dadb88;
  background-position: -47px -171px;
}

.alert-warning-small:before {
  background-position: 4px -116px;
}

.alert-warning-large:before {
  background-position: -89px -232px;
}

.alert-error, .alert-error-small, .alert-error-large {
  background: #ae6872;
}

.alert-error:before, .alert-error-small:before, .alert-error-large:before {
  background-color: #c28e95;
  background-position: -47px -261px;
}

.alert-error-small:before {
  background-position: 4px -177px;
}

.alert-error-large:before {
  background-position: -89px -354px;
}
